<main id="login">
  <div class="login-logo"><%= render "shared/logo" %></div>
  <h1><%= t("sessions.new.title") %></h1>


  <%= form_with url: session_path do |f| %>
    <div class="field">
      <%= f.label :email, User.human_attribute_name(:email) %>
      <%= f.email_field :email, required: true, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, User.human_attribute_name(:password) %>
      <%= f.password_field :password, required: true %>
    </div>

    <%= f.submit t("sessions.new.submit") %>
  <% end %>

  <p><a href="<%= new_password_reset_path %>"><%= t("sessions.new.forgot_password") %></a></p>
  <p><a href="<%= new_user_path %>"><%= t("sessions.new.signup_link") %></a></p>
</main>
