<main>
  <h1><%= t("users.admin.index_title") %></h1>

  <ul id="users">
    <% @users.each do |user| %>
    <li>
      <%= link_to user do %>
      <div class="user-ids">
        <span class="name"><%= user.name %></span>
        <span class="email"><%= user.email %></span>
      </div>

      <div>
        <span class="status pill <%= user.approved? ? "positive" : "caution" %>">
          <%= user.approved? ? t("users.admin.approved_status") : t("users.admin.pending_status") %>
        </span>
        <span class="role pill"><%= user.admin? ? t("users.admin.admin_role") : t("users.admin.normal_role") %></span>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
</main>
