<main>
  <h1><%= t("transactions.index.title") %></h1>

  <% if current_user.can_edit? %>
    <%= render "form", transaction: @transaction, categories: @categories %>
  <% end %>

  <% if @stats.any? %>
    <section id="stats">
      <h2><%= t("transactions.index.stats_title") %></h2>
      <dl class="stats">
        <div>
          <dt><%= t("transactions.index.average_monthly") %></dt>
          <dd class="big"><%= number_to_currency(@stats.average_monthly_spend) %></dd>
        </div>

        <div>
          <dt><%= t("transactions.index.total_spend") %></dt>
          <dd class="big"><%= number_to_currency(@stats.total_spend) %></dd>
        </div>

        <% if @stats.top_categories.any? %>
        <div>
          <dt><%= t("transactions.index.top_categories") %></dt>
          <dd>
            <ol>
              <% @stats.top_categories.each do |cat| %>
                <li><%= cat[:name] %>: <%= number_to_currency(cat[:total]) %></li>
              <% end %>
            </ol>
          </dd>
        </div>
        <% end %>
      </dl>
    </section>
  <% end %>

  <% if @transactions.any? %>
    <section id="transactions">
      <h2><%= t("transactions.index.recent") %></h2>
      <table>
        <thead>
          <tr>
            <th width="110"><%= t("transactions.table.date") %></th>
            <th><%= t("transactions.table.category") %></th>
            <th class="money"><%= t("transactions.table.amount") %></th>
          </tr>
        </thead>
        <tbody>
          <% @transactions.each do |txn| %>
            <tr>
              <td class="tabular"><% period = @periods_by_month[[txn.date.year, txn.date.month]] %><% if period %><a href="<%= monthly_period_path(period) %>"><%= txn.date.strftime("%Y-%m") %></a>-<%= "%02d" % txn.date.day %><% else %><%= txn.date.strftime("%Y-%m-%d") %><% end %></td>
              <td>
                <% if current_user.can_edit? %>
                  <a href="<%= edit_transaction_path(txn) %>">
                    <%= txn.category.name %><% if txn.description.present? %>: <%= txn.description %><% end %>
                  </a>
                <% else %>
                  <%= txn.category.name %><% if txn.description.present? %>: <%= txn.description %><% end %>
                <% end %>
              </td>
              <td class="money"><%= number_to_currency(txn.amount) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
</main>
